<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
</head>
<body>
<table align="center" width="30%">
    <tbody>
    <tr align="center">
        <th colspan="3"><h4>部门详情</h4></th>
    </tr>
    <tr align="center">
        <td>部门编号</td>
        <td>部门名称</td>
        <td>部门操作</td>
    </tr>
    <tr align="center" th:each="dept:${depts}">
        <td th:text="${dept.dept_id}"></td>
        <td th:text="${dept.dept_name}"></td>
        <td>
            <a th:href="@{'/html/delete/'+${dept.dept_id}+'/asdkjasdkausidhacnziuxcuaiushaisudhai'}">删除</a>
            <a th:href="@{'/html/selectById/'+${dept.dept_id}+'/zxczoxchoaisdas'}">修改</a>

        </td>
    </tr>
    </tbody>
</table>
<a href="/html/toInsert">添加部门信息</a>

</body>
</html>